*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.travellogo {
  display: flex;
  max-height: 100px;
}

.pageimage {
  display: flex;
  width: 100%;
  max-height: 200px;
}

html {
    font-size: 62.5%;
}
.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #616161;
}

.cities {
  background-color: white;
}

footer {
    background-color: #e3e0cc;
    display: flex;
    justify-content: flex-end; 
}

.ddmakelistvertical {
  display: flex;
  flex-direction: column;
}
.column {
  column-count: 3; /* For Safari/Chrome */
  
}
.img_homepg__link{
  height: 15rem;
  width: auto;
}
.div_homepgimages{
  display: flexbox;
  justify-content: centergit ;
}
