*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This define what 1rem is
    font-size: 62.5%; // 1rem 10 / 16px 
}
.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #616161;
}

.cities {
  background-color: white;
}

footer {
    background-color: #e3e0cc;
    display: flex;
    justify-content: flex-end; 
}

.ddmakelisthorizontal {
  display: flex;
  flex-direction: column;
}