@import "navbar.css";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.travellogo {
  display: flex;
  max-height: 250px;
}

.pageimage {
  display: flex;
  width: 100%;
  max-height: 250px;
}

html {
    font-size: 62.5%;
}

.div_homepgimages{	
  display: flexbox;	s
  justify-content: center ;	
}

footer {
    background-color: #e3e0cc;
    display: flex;
    justify-content: flex-end; 
}

.column {
  column-count: 3;
  
}
.img_homepg__link{
  height: 15rem;
  width: auto;
}
.landmarks {
  border: 1px solid black;
  width: 33%;
  list-style-position: inside;
}
.people {
  border: 1px solid black;
  width: 33%;
  list-style-position: inside;
}
.cities {
  border: 1px solid #7d8568;
  width: 33%
}
section {
  background-color: #9fa9a3;
}